@{
    ViewBag.Title = "Exercise Management";
}

@section Scripts{
    <!-- Polyfill(s) for older browsers -->
<script src="~/lib/systemjs/dist/system.src.js"></script>
    <script src="~/lib/core-js/client/shim.min.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>   
<script src="~/systemjs.config.js"></script>
    <script src="~/lib/rxjs/Rx.js"></script>
   
    <script>
        System.import('exercise').catch(function (err) { console.error(err); });

        (function ($) {
            $(function () {
                $(document).off('click.bs.tab.data-api', '[data-hover="tab"]');
                //$(document).on('click.bs.tab.data-api', '[data-toggle="tab"]', function () {
                //    if ($(this).parent().hasClass('active')) {
                //        $($(this).attr("href")).toggleClass('active');
                //        $(this).parent().toggleClass('active')
                //    };
                //});

                //$(document).on('mouseleave.bs.tab.data-api', '[data-toggle="tab"], [data-hover="tab"]', function () {
                //    if ($(this).parent().hasClass('active')) {
                //        $($(this).attr("href")).toggleClass('active');
                //        $(this).parent().toggleClass('active')
                //    };
                //});



                $(document).on('mouseenter.bs.tab.data-api', '[data-toggle="tab"], [data-hover="tab"]', function () {
                    $(this).tab('show');

                    $(document).on('mouseleave', '[id="exercise-filters"]', function () {
                        let tab = $('li[role=presentation].active > a');
                        if (tab) {
                            $(tab.attr("href")).toggleClass('active');
                            tab.toggleClass('active');
                            $(document).off('mouseleave', '[id="exercise-filters"]');
                        }
                    });

                });
            });
        })(jQuery);



    </script>
}
<div>
    Exercises go here
    <kcc-exercise></kcc-exercise>


</div>