@{
    ViewBag.Title = "Exercise Management";
}
@section Scripts{
<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/angular-animate/angular-animate.js"></script>
<script src="~/lib/angular-aria/angular-aria.js"></script>
<script src="~/lib/angular-material/angular-material.js"></script>
<script src="~/scripts/compile/controllers/exercisecontroller.js"></script>
<script src="~/scripts/compile/boot.js"></script>    

}
<div ng-app="exerciseManagerApp" >
    <div ng-cloak ng-controller="exerciseController as vm">
        Hello World
        {{vm.Message}}
    </div>
  

</div>