@{
    ViewBag.Title = "Exercise Management";
}
@section Scripts{
    <script src="~/systemjs.config.js"></script>
    <script>
        System.import('exercise').catch(function (err) { console.error(err); });
    </script>
}
<div>
    Exercises go here
    <kcc-exercise></kcc-exercise>
</div>