@{
    ViewBag.Title = "Exercise Management";
}
@section Scripts{
    <script src="~/scripts/compile/models/exercise.js"></script>
    <script src="~/scripts/compile/services/exerciseservice.js"></script>
    <script src="~/scripts/compile/controllers/exercisecontroller.js"></script>
    <script src="~/scripts/compile/bootexercise.js"></script>
}
<div>
    <div ng-cloak ng-controller="exerciseController as vm">
        Hello World
        {{vm.Message}}
    </div>


</div>