html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0px;
    /* Margin bottom by footer height */
    margin-bottom: 140px;
}

ul {
    list-style-type: none;
}

/*New Kachok Style*/

.actionLlink {
    color: #BE1F14;
    text-decoration: underline;
}

    .actionLlink:hover {
        color: black;
    }

.sortedByLink {
    color: #BE1F14;
}

    .sortedByLink:hover {
        color: black;
    }

.btn-standard {
    background: #fff;
    background-image: none;
    border: 1px solid #222;
    color: #222;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none !important;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

    .btn-standard:hover {
        background: #333;
        color: #fff;
    }



.navbar-standard .brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-standard .navbar-inner {
    background: #EEEEEE;
    filter: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

    .navbar-standard .navbar-inner .nav {
        float: right;
    }

        .navbar-standard .navbar-inner .nav li a {
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: #000000;
            font-size: 13px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 800;
            text-transform: uppercase;
        }

            .navbar-standard .navbar-inner .nav li a:hover {
                background: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                color: #BE1F14;
            }

        .navbar-standard .navbar-inner .nav li.active a {
            color: #BE1F14;
        }

.navbar-toggle {
    border: 1px solid black;
    color: black;
}

    .navbar-toggle .icon-bar {
        background-color: black;
    }

.navbar-brand {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}


footer {
    padding: 10px 0px 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 140px;
    background-color: black;
}

    footer .nav li a {
        color: white;
        padding: 10px 5px;
    }

        footer .nav li a:hover {
            color: #BE1F14;
            background-color: transparent;
        }

/* responsive footer fix */
@media (max-width: 768px) {
    body {
        margin-bottom: 280px;
    }

    footer {
        height: 280px;
    }
}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: black; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

@media (min-width: 769px) {
    .filter-list {
        white-space: normal;
        width: 480px;
        position: absolute;
        margin-top: -1px;
        z-index: 1;
        background-color: #fff;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
    }

    .nav-tabs span {
        padding-left: 10px;
    }

    .filter-list > .filter-item {
        display: inline-block;
        min-width: 0;
        width: 30%;
    }



    .filter-list .clear-filter > a {
        background: #eeeeee none repeat scroll 0 0;
        display: block;
        margin-top: 10px;
        margin-right: 25px;
        padding: 5px 25px 5px 5px;
        position: relative;
    }

        .filter-list .clear-filter > a.hover {
            background: #fff none repeat scroll 0 0;
            color: black;
        }

        .filter-list .clear-filter > a > span {
            position: absolute;
            padding-top: 5px;
            right: 10px;
        }
}

@media only screen and (max-width: 768px) {

    .filter-list .filter-item .checkbox label {
        padding-left: 5px;
    }

    .filter-list .clear-filter > a {
        background: #eeeeee none repeat scroll 0 0;
        display: block;
        margin-top: 10px;
        margin-left: -20px;
        padding: 5px 5px 5px 5px;
        position: relative;
    }

        .filter-list .clear-filter > a.hover {
            background: #fff none repeat scroll 0 0;
            color: black;
        }

        .filter-list .clear-filter > a > span {
            position: absolute;
            padding-top: 5px;
            right: 5px;
        }

    /* Force table to not be like tables anymore */
    .responsive table,
    .responsive thead,
    .responsive tbody,
    .responsive th,
    .responsive td,
    .responsive tr {
        display: block;
    }



    .responsive > .table > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 30%;
        white-space: normal;
        text-align: left;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive tr {
        border: 1px solid #ccc;
    }



    .responsive td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 2px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
	Label the data
	*/
    .responsive td:before {
        content: attr(data-title);
    }
}

#username {
    float: right;
    margin-right: 5px;
}

#exercise-result {
    padding-top: 30px;
}


#result-sort table {
    margin: 0px;
}

#result-sort a {
    font-weight: bold;
    text-transform: uppercase;
}


.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}




md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.250em;
    font-weight: 400;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

    md-list .md-button.selected {
        color: #03a9f4;
    }

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

.scrollable-nav-content {
    position: absolute;
    top: 136px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}
