

<div id="exercise-filters">
    <div id="exercise-filters-tab" class="hidden-xs">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation"><a href="#muscle" aria-controls="muscle" role="tab" data-toggle="tab">Muscle</a></li>
            <li role="presentation"><a href="#target" aria-controls="target" role="tab" data-toggle="tab">Target</a></li>
            <li role="presentation"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">Experience</a></li>
            <li role="presentation"><a href="#tag" aria-controls="tag" role="tab" data-toggle="tab">Tags</a></li>
            <li role="presentation"><a href="#equipment" aria-controls="equipment" role="tab" data-toggle="tab">Equipment</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="muscle">
                <ul aria-labelledby="list-group-item-facet-2" class="nest facet-list">
                    <li class="item-secondary remove-link">
                        <a href="#" data-ui="facet-reset" class="clear-all-link gender" tabindex="0">Remove</a>
                    </li>
                    <li class="item-secondary gender" data-name="men%27s" data-overflow="false" style="">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>
                    </li>
                    <li class="item-secondary gender" data-name="men%27s" data-overflow="false" style="">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out 2
                            </label>
                        </div>
                    </li>
                    <li class="item-secondary gender" data-name="men%27s" data-overflow="false" style="">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out 3
                            </label>
                        </div>
                    </li>

                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="target">
                test 0
            </div>
            <div role="tabpanel" class="tab-pane fade" id="experience">test</div>
            <div role="tabpanel" class="tab-pane fade" id="tag">test 2</div>
            <div role="tabpanel" class="tab-pane fade" id="equipment">test 2</div>
        </div>
    </div>
    <div id="exercise-filters-accordion" class="visible-xs-block">
        <div class="panel-group" role="tablist" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#muscle2">Muscle</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="muscle2" >
                    <div class="panel-body">
                        <ul aria-labelledby="list-group-item-facet-2" class="nest facet-list">
                            <li class="item-secondary remove-link">
                                <a href="#" data-ui="facet-reset" class="clear-all-link gender" tabindex="0">Remove</a>
                            </li>
                            <li class="item-secondary gender" data-name="men%27s" data-overflow="false" style="">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Check me out
                                    </label>
                                </div>
                            </li>
                            <li class="item-secondary gender" data-name="men%27s" data-overflow="false" style="">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Check me out 2
                                    </label>
                                </div>
                            </li>
                            <li class="item-secondary gender" data-name="men%27s" data-overflow="false" style="">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Check me out 3
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>