<!DOCTYPE html>

<html ng-app="kachokApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="EI=edge" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Polyfill(s) for older browsers -->
    <script src="lib/core-js/client/shim.min.js"></script>
    <script src="lib/zone.js/dist/zone.js"></script>
    <script src="lib/reflect-metadata/Reflect.js"></script>
    <script src="lib/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
    <title>Kachok - @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>

    <div id="sidebar">
        @Html.Partial("Sidenav")
    </div>

    <div id="wrapper">
        <div ng-include="'/view/toolbar-header.html'">Toolbar</div>

        <my-app>Loading...</my-app>
        @RenderBody()

    </div>

    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script type="text/javascript" src="~/scripts/compile/controllers/sitecontroller.js"></script>
        <script type="text/javascript" src="~/scripts/compile/boot.js"></script>*@

    @RenderSection("Scripts", false)

</body>

</html>