<div class="container">
    <h1>Exercise: {{exercise.name}}</h1>

    <div class="col-xs-12 col-sm-8 ">
        <form *ngIf="active" (ngSubmit)="onSubmit()" #exerciseForm="ngForm">
            <div class="row">
                <div class="form-group col-xs-8">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="exercise.name" name="name" #name="ngModel">
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form-group col-xs-offset-1 col-xs-2">
                    <label for="name">Status</label>
                    <select class="form-control" required [(ngModel)]="exercise.status" name="status">
                        <option *ngFor="let o of statusOptions" [value]="o">{{o}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" required [(ngModel)]="exercise.description" name="description"> </textarea>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="power">Muscle</label>
                    <select class="form-control" required [(ngModel)]="exercise.muscle" name="muscle">
                        <option *ngFor="let o of muscleOptions" [value]="o">{{o}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="power">Target</label>
                    <select class="form-control" required [(ngModel)]="exercise.target" name="target">
                        <option *ngFor="let o of targetOptions" [value]="o">{{o}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="power">Measure</label>
                    <select class="form-control" required [(ngModel)]="exercise.uom" name="uom">
                        <option *ngFor="let o of uomOptions" [value]="o">{{o}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="power">Experience</label>
                    <select class="form-control" required [(ngModel)]="exercise.experience" name="experience">
                        <option *ngFor="let o of experienceOptions" [value]="o">{{o}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="Equipment">Equipment</label>

                <div class="col-md-10 columns">
                    <template ngFor #equipment [ngForOf]="equipmentOptions">
                        <label class="checkbox-inline" for="equipment">
                            <input type="checkbox" ngControl="equipment" [(ngModel)]="equipment['checked']" (clicked)="onClick(equipment)">
                            {{equipment.name}}
                        </label>
                    </template>                    
                </div>
            </div>

            <button type="submit" class="btn btn-default" [disabled]="!exerciseForm.form.valid">Save</button>
            <button type="button" class="btn btn-default" (click)="newExercise()">New Exercise</button>
        </form>
    </div>
</div>
{{diagnostic}}
<p>
    <button (click)="gotoExercises()">Back</button>
</p>

<!--http://www.avtex.com/blog/2015/02/10/bootstrap-radio-buttons-and-checkboxes-in-columns-with-contextual-text-fields/-->