<md-icon md-svg-icon="muscleGroup" class="muscleGroup"></md-icon>
<h2>{{exCtrl.selectedMuscleGroup.name}}</h2>

<div layout-padding>
    <md-autocomplete md-search-text="exCtrl.searchText"
                     md-items="exercise in exCtrl.filteredExercises | filter:exCtrl.searchText"
                     md-item-text="exercise.name"
                     md-min-length="3"
                     placeholder="filter">
        <md-item-template>
            <span md-highlight-text="exCtrl.searchText" md-highlight-flags="^i">{{exercise.name}}</span>
        </md-item-template>
        <md-not-found>
            No Exercise matching {{exCtrl.searchText}} were found.
        </md-not-found>
    </md-autocomplete>
</div>

<md-content ><!--class="scrollable-nav-content"-->
    <md-list>
        <md-list-item ng-repeat="exercise in exCtrl.filteredExercises | filter:exCtrl.searchText | orderBy:'name'">
            <md-button ng-click="exCtrl.selectExercise(exercise)"
                       ng-class="{'selected' : exercise === exCtrl.selectedExercise}">
                {{exercise.name}}
            </md-button>
        </md-list-item>
    </md-list>
    
    
      

        <md-tabs md-selected="exCtrl.tabIndex" md-dynamic-height="" md-stretch-tabs="always">
            <md-tab label="Detail">
                <div ng-include="'./../view/exercise-detail.html'"></div>
            </md-tab>
            <md-tab label="Description">
                <div ng-include="'./../view/exercise-description.html'"></div>
            </md-tab>
            <md-tab label="Tags">
                <div ng-include="'./../view/exercise-tags.html'"></div>
            </md-tab>
        </md-tabs>
</md-content>
<div>
    <md-button class="md-fab md-fab-bottom-left" ng-click="exCtrl.addExercise($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
</div>
<div id="wrapper2">
    <md-fab-speed-dial ng-cloak
                       md-direction="down"
                       class="md-fling md-fab-top-right">
        <md-fab-trigger>
            <md-button class="md-fab">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini"
                       ng-click="exCtrl.showExerciseOptions($event)">
                <ng-md-icon icon="face"></ng-md-icon>
                <md-tooltip md-direction="left">Exercise</md-tooltip>
            </md-button>
            <md-button class="md-fab md-raised md-mini"
                       ng-click="exCtrl.clearTags($event)">
                <ng-md-icon icon="clear_all"></ng-md-icon>
                <md-tooltip md-direction="left">Clear all tags</md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>